---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="grid justify-center pt-20" >
	
		<h1 class="text-6xl font-bold">Welcome to Astro</h1>
	
	</main>
</Layout>
