---
const seo = {
  title: "Astro Gitlab Page",
  description: "Im a static Site",
  keywords:
    "astro, astrojs, gitlab page",
  themeColor: "#000000",
  ogImage: "img/og.jpg",
  url: "",
  viewport:
    "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",
};
---
<meta charset="UTF-8" />
<link rel="manifest" href="/manifest.json" />
<meta name="viewport" content={seo.viewport} />

<meta name="title" content={seo.title} />
<meta property="og:title" content={seo.title} />
<meta property="twitter:title" content={seo.title} />

<meta name="description" content={seo.description} />
<meta property="og:description" content={seo.description} />
<meta property="twitter:description" content={seo.description} />

<meta property="og:image" content={seo.ogImage} />
<meta property="twitter:image" content={seo.ogImage} />

<meta name="keywords" content={seo.keywords} />
<meta name="theme-color" content={seo.themeColor} />

<meta property="og:url" content={seo.url} />
<meta property="twitter:url" content={seo.url} />

<link rel="icon" type="image/png" href="/favicon.png" />

<meta name="author" content="New Horizons" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="Spanish" />
<meta name="revisit-after" content="1 days" />
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary_large_image" />

<meta name="generator" content={Astro.generator} />
