---
import SEOHeaders from '../components/SEOHeaders.astro';
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEOHeaders/>
		<title>{title}</title>

			<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
				-webkit-tap-highlight-color: transparent;
			}

			::-webkit-scrollbar {
				width: 6px;
			}

			/* Track */
			::-webkit-scrollbar-track {
				background: #00000000;
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
				background: #71717a77;
				border-radius: 5px;
			}

			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
				background: #71717a;
			}
</style>
